/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/* font-family: 'Montserrat', sans-serif; */

//---------------------------------------------------
//                     VARIABLES
//---------------------------------------------------
$font1: "Montserrat", sans-serif;
$font2: "Montserrat Light 300", sans-serif;
$color1: #ffffff;
$color2: #000000;
$color3: #353131;
$color4: #1973c8;
$color5: #fdfcdc;

//---------------------------------------------------
//                   GENERAL SETTING
//---------------------------------------------------
* {
  margin: 0;
  font-family: $font1;
  box-sizing: border-box;
}
a {
  color: $color2;
  text-decoration: none;
  &:hover {
    color: $color4;
    font-weight: bold;
  }
}
p {
  margin: 0;
}
//---------------------------------------------------
//                     KEYFRAMES
//---------------------------------------------------
@keyframes pulse-btn {
  20% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  25% {
    transform: scale(1.1);
    animation-timing-function: ease-in;
  }
  30% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
//---------------------------------------------------
//                       INDEX BG
//---------------------------------------------------
.index--bg {
  background: url("../img/pexels-gdtography-911738.jpg") center/cover;
  height: 100vh;
}

//---------------------------------------------------
//                       HEADER
//---------------------------------------------------
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px dotted $color3;
  background: $color1;
}
/* LOGO */
.logo {
  min-width: 230px;
  max-width: 300px;
  margin: 5px;
  &__title {
    margin: 0;
    font-size: 1.5rem;
    @media screen and (max-width: 1024px) {
      font-size: 2rem;
      text-align: center;
    }
  }
  &__description {
    margin: 0;
    color: lighten($color3, 30);
    font-size: 1rem;
    text-align: center;
    @media screen and (max-width: 1024px) {
      font-size: 1.5rem;
    }
  }
}

//---------------------------------------------------
//                       MENU
//---------------------------------------------------
#active {
  color: $color4;
  font-weight: bold;
}
.menu {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  &__btn {
    width: 100px;
    margin: 20px auto;
    text-align: center;
    @media screen and (max-width: 1024px) {
      width: 40%;
      font-size: 1.5rem;
    }
  }
}

//---------------------------------------------------
//                  PRESENTATION
//---------------------------------------------------
.presentation {
  text-align: center;
  &--title {
    margin: 0;
    padding-top: 5vh;
    font-size: 5rem;
    color: $color2;
    &::after {
      content: "";
      display: block;
      width: 300px;
      margin: 30px auto 0;
      border: 2px solid $color4;
    }
  }
  &--description {
    width: 900px;
    margin: 30px auto;
    color: $color2;
    font-size: 1.4rem;
    letter-spacing: 1px;
    text-align: justify;
    &::before {
      content: "\275D";
      color: $color4;
    }
    &::after {
      content: "\275E";
      color: $color4;
    }
    @media screen and (max-width: 1024px) {
      width: 80%;
    }
  }
  &--btn {
    display: block;
    width: 170px;
    background: $color4;
    margin: 10px auto;
    padding: 15px;
    border-radius: 15px;
    color: $color1;
    font-weight: bold;
    transition: 300ms;
    animation: pulse-btn 5s ease-in-out infinite both;
    cursor: pointer;
    &:hover {
      animation: none;
      color: $color1;
      font-size: 1.1rem;
    }
    @media screen and (max-width: 1024px) {
      font-size: 2rem;
      width: 300px;
    }
  }
}

//---------------------------------------------------
//                     FOOTER
//---------------------------------------------------
.foot {
  width: 100%;
  padding: 5px 0;
  background: $color1;
  border-top: 1px dotted $color3;
  position: absolute;
  bottom: 0;
  text-align: center;
  // @media screen and (max-width: 1024px) {
  //   position: none;
  // }
}

//---------------------------------------------------
//                     CONTACT
//---------------------------------------------------
.contact--bg {
  position: relative;
  height: 100vh;
  @media screen and (max-width: 1024px) {
    height: auto;
  }
}
//---------------------------------------------------
//                   PRESENTATION
//---------------------------------------------------
.my {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
  width: 1000px;
  height: 80vh;
  margin: 30px auto;
  @media screen and (max-width: 1024px) {
    height: auto;
    width: 100%;
    margin: 0;
  }
  &__left {
    width: 500px;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    filter: grayscale(80%);
    @media screen and (max-width: 1024px) {
      width: 60%;
      margin: 40px auto;
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    margin-top: 0px;
    text-align: center;
    @media screen and (max-width: 1024px) {
      width: 100%;
      margin: 40px auto;
    }
    &--firstname {
      margin: 20px 0 0;
      font-size: 3rem;
    }
    &--lastname {
      margin: 0;
      font-size: 2.5rem;
    }
    &--job {
      margin: 10px 0;
      font-size: 1.5rem;
    }
    &--state {
      margin-top: 0;
      font-size: 1.5rem;
    }
  }
  &__location {
    & iframe {
      border-radius: 30px;
    }
  }
}

.contact {
  margin: 30px;
  &__link {
    display: block;
    margin: 40px auto;
    text-align: center;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }
  &__logo {
    & i {
      padding: 1rem;
      background: lighten($color3, 60);
      border-radius: 50%;
      font-size: 2rem;
      color: $color4;
    }
  }
  &__description {
    margin-top: 5px;
    color: $color4;
    font-size: 1.5rem;
  }
  &__info {
    margin-top: 5px;
    font-size: 1.2rem;
  }
}
