@charset "UTF-8";
/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/* font-family: 'Montserrat', sans-serif; */
* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #1973c8;
  font-weight: bold;
}

p {
  margin: 0;
}

@keyframes pulse-btn {
  20% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  25% {
    transform: scale(1.1);
    animation-timing-function: ease-in;
  }
  30% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.index--bg {
  background: url("../img/pexels-gdtography-911738.jpg") center/cover;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px dotted #353131;
  background: #ffffff;
}

/* LOGO */
.logo {
  min-width: 230px;
  max-width: 300px;
  margin: 5px;
}
.logo__title {
  margin: 0;
  font-size: 1.5rem;
}
@media screen and (max-width: 1024px) {
  .logo__title {
    font-size: 2rem;
    text-align: center;
  }
}
.logo__description {
  margin: 0;
  color: #857b7b;
  font-size: 1rem;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .logo__description {
    font-size: 1.5rem;
  }
}

#active {
  color: #1973c8;
  font-weight: bold;
}

.menu {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}
.menu__btn {
  width: 100px;
  margin: 20px auto;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .menu__btn {
    width: 40%;
    font-size: 1.5rem;
  }
}

.presentation {
  text-align: center;
}
.presentation--title {
  margin: 0;
  padding-top: 5vh;
  font-size: 5rem;
  color: #000000;
}
.presentation--title::after {
  content: "";
  display: block;
  width: 300px;
  margin: 30px auto 0;
  border: 2px solid #1973c8;
}
.presentation--description {
  width: 900px;
  margin: 30px auto;
  color: #000000;
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-align: justify;
}
.presentation--description::before {
  content: "❝";
  color: #1973c8;
}
.presentation--description::after {
  content: "❞";
  color: #1973c8;
}
@media screen and (max-width: 1024px) {
  .presentation--description {
    width: 80%;
  }
}
.presentation--btn {
  display: block;
  width: 170px;
  background: #1973c8;
  margin: 10px auto;
  padding: 15px;
  border-radius: 15px;
  color: #ffffff;
  font-weight: bold;
  transition: 300ms;
  animation: pulse-btn 5s ease-in-out infinite both;
  cursor: pointer;
}
.presentation--btn:hover {
  animation: none;
  color: #ffffff;
  font-size: 1.1rem;
}
@media screen and (max-width: 1024px) {
  .presentation--btn {
    font-size: 2rem;
    width: 300px;
  }
}

.foot {
  width: 100%;
  padding: 5px 0;
  background: #ffffff;
  border-top: 1px dotted #353131;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.contact--bg {
  position: relative;
  height: 100vh;
}
@media screen and (max-width: 1024px) {
  .contact--bg {
    height: auto;
  }
}

.my {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
  width: 1000px;
  height: 80vh;
  margin: 30px auto;
}
@media screen and (max-width: 1024px) {
  .my {
    height: auto;
    width: 100%;
    margin: 0;
  }
}
.my__left {
  width: 500px;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  filter: grayscale(80%);
}
@media screen and (max-width: 1024px) {
  .my__left {
    width: 60%;
    margin: 40px auto;
  }
}
.my__right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  margin-top: 0px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .my__right {
    width: 100%;
    margin: 40px auto;
  }
}
.my__right--firstname {
  margin: 20px 0 0;
  font-size: 3rem;
}
.my__right--lastname {
  margin: 0;
  font-size: 2.5rem;
}
.my__right--job {
  margin: 10px 0;
  font-size: 1.5rem;
}
.my__right--state {
  margin-top: 0;
  font-size: 1.5rem;
}
.my__location iframe {
  border-radius: 30px;
}

.contact {
  margin: 30px;
}
.contact__link {
  display: block;
  margin: 40px auto;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .contact__link {
    width: 100%;
  }
}
.contact__logo i {
  padding: 1rem;
  background: #cecaca;
  border-radius: 50%;
  font-size: 2rem;
  color: #1973c8;
}
.contact__description {
  margin-top: 5px;
  color: #1973c8;
  font-size: 1.5rem;
}
.contact__info {
  margin-top: 5px;
  font-size: 1.2rem;
}

/*# sourceMappingURL=style.css.map */
